# Backend
DATABASE_URL=
BACKEND_NODE_ENV=production
PORT=3000
POSTGRES_DB=crud_pessoas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
PRISMA_LOG_LEVEL=info
SWAGGER_ENABLED=false
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=
JWT_EXPIRES_IN=1h

# Frontend (Vite)
VITE_API_URL=http://localhost:3000
